<?xml version="1.0"?>
<!--

Copyright (c) 2021, Botsync Pte. Ltd.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of the Botsync Pte. Ltd. nor the 
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->

<robot name="copernicus_robot" xmlns:xacro="https://ros.org/wiki/xacro">
    <!-- xacro includes -->
    <xacro:include filename="$(find copernicus_description)/urdf/vehicle_properties.xacro"/>
    <xacro:include filename="$(find copernicus_description)/urdf/components/wheel.urdf.xacro"/>

    <!-- xacro properties -->
    <xacro:property name="PI" value="3.14159"/>

    <!-- xacro args -->
    <xacro:arg name="robot_namespace" default="/" />
    <xacro:arg name="lidar_enabled" default="false"/>
    <xacro:arg name="test_lidar_enabled" default="true"/>
    <xacro:arg name="sick_lms151_enabled" default="false"/>
    <xacro:arg name="velodyne_enabled" default="false"/>
    <xacro:arg name="imu_enabled" default="true"/>
    <!--<xacro:arg name="camera_enabled" default="false"/>
    <xacro:arg name="intel_d435i_enabled" default="false"/>-->
    
    <xacro:macro name="copernicus_robot">
        <!-- Footprint -->
        <link name="footprint"/>

        <!-- Joint from footprint to base link(chassis) -->
        <joint name="base_footprint_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="footprint" />
        </joint>

        <!-- Chassis a.k.a base_link -->
        <link name="base_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://copernicus_description/meshes/copernicus.dae" scale="0.1 0.1 0.1"/>
                </geometry>
                <material name="gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://copernicus_description/meshes/copernicus.dae" scale="0.1 0.1 0.1"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="${base_mass}"/>
                <inertia ixx="${base_ixx}" ixy="${base_ixy}" ixz="${base_ixz}" iyy="${base_iyy}" iyz="${base_iyz}" izz="${base_izz}"/>
            </inertial>
        </link>

        <!-- Wheel -->
        <xacro:copernicus_wheel wheel_prefix="front_right">
            <origin xyz="${wheel_joint_x_abs} ${-wheel_joint_y_abs} ${wheel_joint_z_abs}" rpy="0 0 0"/>
        </xacro:copernicus_wheel>

        <xacro:copernicus_wheel wheel_prefix="back_right">
            <origin xyz="${-wheel_joint_x_abs} ${-wheel_joint_y_abs} ${wheel_joint_z_abs}" rpy="0 0 0"/>
        </xacro:copernicus_wheel>

        <xacro:copernicus_wheel wheel_prefix="front_left">
            <origin xyz="${wheel_joint_x_abs} ${wheel_joint_y_abs} ${wheel_joint_z_abs}" rpy="0 0 0"/>
        </xacro:copernicus_wheel>

        <xacro:copernicus_wheel wheel_prefix="back_left">
            <origin xyz="${-wheel_joint_x_abs} ${wheel_joint_y_abs} ${wheel_joint_z_abs}" rpy="0 0 0"/>
        </xacro:copernicus_wheel>

        <!-- IMU -->
        <xacro:if value="$(arg imu_enabled)">
            <xacro:include filename="$(find copernicus_description)/urdf/accessories/imu_copernicus.urdf.xacro"/>
            <xacro:imu robot_namespace="$(arg robot_namespace)"></xacro:imu>
        </xacro:if>

        <!-- LIDAR -->
        <xacro:if value="$(arg lidar_enabled)">
            <xacro:include filename="$(find copernicus_description)/urdf/accessories/lms_151_copernicus.urdf.xacro"/>
            <xacro:lidar sick_lms151_enabled="$(arg sick_lms151_enabled)" robot_namespace="$(arg robot_namespace)"></xacro:lidar>

        </xacro:if>

        <!-- TEST LIDAR -->
        <xacro:if value="$(arg test_lidar_enabled)">
            <xacro:include filename="$(find copernicus_description)/urdf/accessories/lidar_copernicus.urdf.xacro"/>
            <xacro:lidar robot_namespace="$(arg robot_namespace)"></xacro:lidar>
        </xacro:if>


        <!-- Velodyne -->
        <xacro:if value="$(arg velodyne_enabled)">
            <xacro:include filename="$(find copernicus_description)/urdf/accessories/velodyne_mount.urdf.xacro"/>
            <xacro:velodyne_mount></xacro:velodyne_mount>
            <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
            <VLP-16 parent="velodyne_mount" name="velodyne" topic="velodyne_points" hz="10" samples="440" gpu="false" min_range="0.2">
                <origin xyz="${velodyne_joint_x} ${velodyne_joint_y} ${velodyne_joint_z}" rpy="0 ${-velodyne_joint_pitch} 0" />
            </VLP-16>
        </xacro:if>

        <!-- CAMERA -->
        <!--<xacro:if value="$(arg camera_enabled)">
            <xacro:include filename="$(find copernicus_description)/urdf/accessories/camera_copernicus.urdf.xacro"/>
            <xacro:camera_ intel_d435i_enabled="$(arg intel_d435i_enabled)" robot_namespace="$(arg robot_namespace)"></xacro:camera_>
        </xacro:if>-->


        <!--ROBOT GAZEBO TAG-->
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>$(arg robot_namespace)</robotNamespace>
                <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>
